button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.still,
.gif {
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.add {
    margin-bottom: 10px;
}

figure {
    max-height: 260px;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
}
